
.page{
    justify-self: center;
}

.card{
    display: grid;
    row-gap: 30px;
    justify-content: center;
}

.coach{
    align-items: center;
    background-color: rgb(228, 200, 229);
}

.content {
    padding: 1%;
}




